
.main_div{
     width:100vw;
     height: 100vh;
    display: grid;
    place-items:center;
    background-color: rgb(36, 41, 48);
}
 .center_div{
      width:20rem;
      height:30rem;
      border-radius: 10%;
      background-color: rgb(71, 50, 105);
      position: relative;
      margin-top:1rem;
 }

   h1{
    color:white;
    background: transparent;
     margin-left: 12px;
     margin-right: 12px;
     background-color: rgb(19, 14, 39);
     margin-bottom:10px;
     padding-left:80px;
     box-shadow: 5px 5px 15px -5px rgba(0,0,0.3,);
     
   }
.input{
    width:12rem;
    height:1.5rem;
    border: none;
    color: white;
    background: transparent;
     font-family: 'Maven Pro', sans-serif;
     font-size:20px;
     font-weight: 500;
     padding:2px;
     border-bottom: 2px solid #8566aa;
     outline: none;
     position:absolute;
     left:4rem;
     top:6rem;
    
}
   input::placeholder{
     color:whitesmoke;
     font-size:17px;
     padding-left:10px;

 }
   
.add_btn{
    position:absolute;
     left:17rem;
     top:6rem;
     font-size:1.4rem;
     border-radius:20px;
     border-style: hidden;
    
}
.add_btn:hover{
    background-color:green;
}

ol{
    position:absolute;
    left:1.5rem;
    top:9rem;
    font-size:1.5rem;
    color: white;
    
    
}
  ol li{
    list-style-type:none;
    color: rgb(255, 255, 255);
      margin-left: 2px;
    
  }

i{
    font-size:1rem;
    color: black;
    padding-right:1px;
    margin-left: 2px;
   
}
 .delete{
    border-radius: 1.5rem;
    font-size: small;
     margin-left: 1rem;
     
 }
 .delete:hover{
  background-color: red;
 }